---
import "@/styles/globals.css";
import Seo, { type SeoProps } from "@/components/Seo.astro";
interface Props extends SeoProps {}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Seo {...props} />
  </head>
  <body>
    <slot />
  </body>
</html>
