---
// Uncomment the following line to enable Astro's view transitions.
// import { ViewTransitions } from "astro:transitions";
import "@/styles/globals.css";
import Seo, { type SeoProps } from "@/components/Seo.astro";
interface Props extends SeoProps {}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Seo {...props} />

    <!-- Uncomment the following line to enable Astro's view transitions. -->
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <slot />
  </body>
</html>
